[Unit]
Description=SSH key agent

[Service]
Type=forking
Environment=SSH_ASKPASS=/usr/bin/ksshaskpass
ExecStart=/usr/bin/ssh-agent -a ${XDG_RUNTIME_DIR}/ssh-agent.socket
ExecStartPost=/usr/bin/ssh-add

[Install]
WantedBy=default.target
