configuration {
    modi: "window,drun,ssh,combi";
    font: "JetBrainsMono Nerd Font 10";
    combi-modi: "window,drun,ssh";
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
    icon-theme:     "Papirus";
}

@theme "~/.config/rofi/gruvbox-material.rasi"
